<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>L</string>
		<key>Key</key>
		<string>de.retiolum.safari.qrify.settings.errorCorrection</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Error correction</string>
		<key>Titles</key>
		<array>
			<string>Level L – up to 7% damage</string>
			<string>Level M – up to 15% damage</string>
			<string>Level Q – up to 25% damage</string>
			<string>Level H – up to 30% damage</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>L</string>
			<string>M</string>
			<string>Q</string>
			<string>H</string>
		</array>
	</dict>
</array>
</plist>
